.basic-input {
  width: 270px;
  height: 45px;
  margin-bottom: 10px;
  padding-left: 15px;
  font-size: 1.2rem;
  border: 1px solid rgb(199, 199, 199);
}
.wide-input {
  width: 270px;
  height: 115px;
  margin-bottom: 10px;
  padding: 10px 15px;
  font-size: 1.2rem;
  resize: none;
  border: 1px solid rgb(199, 199, 199);
}
.basic-input:focus, .wide-input:focus {
  border: 2px solid goldenrod;
}
.basic-input::placeholder, .wide-input::placeholder {
  color: #c7c7c7
}
