.alertable-button__button__container--normal {
  text-align: center;
  border-radius: 5;
  cursor: pointer;
  transition: 0.3s;
  display: table;
}
.alertable-button__button__text--normal {
  display: table-cell;
  vertical-align: middle;
}
.alertable-button__button__container--err {
  text-align: center;
  border-radius: 5;
  cursor: pointer;
  transition: 0.3s;
  display: table;
  cursor: not-allowed;
}
.alertable-button__button__text--normal {
  display: table-cell;
  vertical-align: middle;
}
