.reception__inputs-container {
  position: relative;
  height: 110px;
  padding-top: 2px;
  transition: 0.6s;
  overflow: hidden;
}
.reception__inputs-container--spread {
  position: relative;
  height: 400px;
  padding-top: 2px;
  transition: 0.6s;
  overflow: hidden;
}
.reception__phrases {
  height: 86px;
  transition: 0.3s;
  overflow: hidden;
}
.reception__phrases--spread {
  height: 43px;
  transition: 0.6s;
  overflow: hidden;
}
