.app-wrapper {
  height: 100%;
  background-color: rgb(216, 206, 179);
}
@media (max-height: 800px) {
  .app-wrapper {
    height: 800px;
  }
}

.app {
  position: absolute;
  left: calc(50% - 188px);
  top: calc(50% - 400px);
}
@media (max-height: 800px) {
  .app {
    top: 0px;
  }
}
@media (min-width: 900px) {
  .app {
    left: calc(50% - 385px);
  }
}
