.search-route__container {
  position: relative;
  width: 270px;
  height: 45px;
  margin: 0 auto 10px;
  background-color: goldenrod;
  border-radius: 5px;
  cursor: pointer;
  display: table;
}
.search-route__container span {
  font-size: 1.2rem;
  display: table-cell;
  vertical-align: middle;
}
