.side-board__container {
  position: relative;
  float: left;
  width: 375px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
  text-align: center;
}
/* @media (min-width: 1300px) {
  .side-board__container {
    margin-bottom: 85px;
  }
} */
