* {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
  outline: none;
}
body {
  background-color: darkslategrey;
}
.basic-phrase {
  color: #717171;
  font-size: 1.1rem;
  cursor: pointer;
}
.basic-phrase:hover {
  color: goldenrod;
}
.money-sign-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 45px;
  display: table;
  font-size: 1.2rem;
  cursor: default;
}
.money-sign-aligner {
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
}
