.extra-board__container {
  position: relative;
  float: right;
  width: 375px;
  margin-right: 20px;
  margin-bottom: 85px;
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
  text-align: center;
}
